/* logo */
.logo > span {
  &:nth-child(1) {
    display: inline;
  }

  &:nth-child(2) {
    display: none;
  }
}

/* navbar */
body > header nav ul:nth-child(1) a {
  font-weight: bold;
}

svg.icon-theme-toggle {
  --theme-toggle-duration:0.4s;

  :first-child path {
    transition-duration: calc(var(--theme-toggle-duration) * .6);
    transition-property: transform,d;
    transition-timing-function: cubic-bezier(0, 0, 0.5, 1);
  }

  g {
    circle, path {
      transform-origin: center;
      transition: transform calc(var(--theme-toggle-duration) * .65) cubic-bezier(0, 0, 0, 1.25) calc(var(--theme-toggle-duration) * .35);
    }
  }

  &.moon {
    g {
      circle {
        transform: scale(1.4);
        transition-delay: 0s;
      }

      path {
        transform: scale(0.75);
        transition-delay: 0s;
      }
    }

    :first-child path {
      d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
      transition-delay: calc(var(--theme-toggle-duration) * .4);
      transition-timing-function: cubic-bezier(0, 0, 0, 1.25);
    }
  }
}

@supports not (d: path("")) {
  svg.icon-theme-toggle.moon :first-child path {
    transform: translate3d(-9px, 14px, 0);
  }
}

/* hero */
.hero-container {
  position: relative;

  > ul {
    position: absolute;
    bottom: 0;
    right: 0;

    > li {
      display: inline;
      padding: .5rem;

      > a {
        text-decoration: none;
        color: var(--pico-primary-inverse);
      }
    }
  }
}

.picture-container {
  margin: auto;
  width: 100%;
  margin: 0 var(--pico-spacing);
}

.picture {
  border-radius: var(--pico-border-radius);
}

.title, .caption {
  margin: .5em 0;
  text-align: center;
}

/* leaflet.js map */
#map {
  height: 50vh;
}

/* Responsive components */
@media (min-width: 768px) {
  .logo > span {
    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: inline;
    }
  }

  body > header.is-fixed-above-lg {
    z-index: 2;
    position: sticky;
    top: 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--pico-header-background);
    transition: border-top-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

    &.is-fixed {
      border-bottom-color: var(--pico-header-border-color);
      box-shadow: var(--pico-card-box-shadow);
    }
  }
}